<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="footer">
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                    <span sec:authorize="isAuthenticated()">
                        | Logged user: <span sec:authentication="name"></span> | Roles: <span sec:authentication="principal.authorities"></span> |
                        <a th:href="@{/logout}">Sign Out</a>
                    </span>
                <div>
                    <p class="text-center">&copy; copyright</p>
                </div>
            </div>
        </div>
    </div>
    <script src="/webjars/jquery/2.1.4/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>
</html>
