<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="posts">

    <!--Post-->
    <div class="card mt-3 mb-3" th:each="post : ${pager.posts}">

        <div class="card-body">
            <h2 class="card-title"><a th:text="${post.getTitle()}" th:href="@{'/post/' + ${post.id}}">Title</a></h2>
                <small>
                    Posted <th:block th:text="${#dates.format(post.getCreateDate(), 'MMM-dd-yyyy')} + ' by '"></th:block> <a class="text-capitalize" th:text="${post.user.username}" th:href="@{'/blog/' + ${post.user.username}}">User</a>
                </small>

                <!--Preview-->
                <p class="card-text" th:text="${post.getPreview()}">Body</p>

                <a class="ml-auto" th:href="@{'/post/' + ${post.id}}">Read More...</a>
        </div>

    </div>
</div>
</body>
</html>
