<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${post.title}">Post Title</title>
    <link href="/webjars/highlightjs/10.1.2/styles/darcula.min.css" rel="stylesheet">
    <div th:replace="fragments/header :: header-css" />
</head>
<body>
<div th:replace="fragments/header :: header" />

<div class="container bg-light mt-5">

    <!--Post-->
    <div class="card mb-3">
        <div class="card-body">

            <h1 class="card-title" th:text="${post.title}">Title</h1>

            <small>
                <span>
                    Posted <th:block th:text="${#dates.format(post.createDate, 'MMM-dd-yyyy')} + ' by '"></th:block> <a class="text-capitalize" th:text="${post.user.username}" th:href="@{'/blog/' + ${post.user.username}}">User</a>
                </span>
            </small>

            <div id="postBody" class="mt-2 card-text" th:utext="${post.getBodyHTML()}">Body</div>

            <!--Editing tools-->
            <div sec:authorize="isAuthenticated()" th:if="${username}">
                <div class="row">
                    <div class="col-md-2">
                        <a th:href="@{'/editPost/{id}'(id=${post.id})}" class="btn btn-primary btn-block" th:text="Edit">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Post-->

</div>

<div th:replace="fragments/footer :: footer" />

<!-- Syntax Highlighting -->
<script src="/webjars/highlightjs/10.1.2/highlight.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('code').forEach((block) => {
            hljs.highlightBlock(block);
        });
    }, false);
</script>

</body>
</html>
