<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="${post.title}">Post Title</title>
    <div th:replace="/fragments/header :: header-css" />
</head>
<body>
<div th:replace="/fragments/header :: header" />

<div class="container bg-light mt-5">

    <!--Post-->
    <div class="card mb-3">
        <div class="card-body">

            <h1 class="card-title" th:text="${post.title}">Title</h1>

            <small>
                <span>
                    Posted <th:block th:text="${#dates.format(post.createDate, 'MMM-dd-yyyy')} + ' by '"></th:block> <a class="text-capitalize" th:text="${post.user.username}" th:href="@{'/blog/' + ${post.user.username}}">User</a>
                </span>
            </small>

            <p class="mt-2 card-text" th:text="${post.body}">Body</p>

            <!--Editing tools-->
            <div sec:authorize="isAuthenticated()" th:if="${username}">
                <div class="row">
                    <div class="col-md-2">
                        <a th:href="@{'/editPost/{id}'(id=${post.id})}" class="btn btn-primary btn-block" th:text="Edit">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Post-->

    <!--Comments-->
    <h5>Comments:</h5>
    <div class="well" th:each="comment : ${post.comments}">
        <p th:text="${comment.body}">Body</p>
        <div th:text="${#dates.format(comment.createDate, 'MMM-dd-yyyy')} + ${comment.user.username}' said '">
            Posted
        </div>
    </div>

    <!--Leave a comment button-->
    <!--Only if authenticated-->
    <div sec:authorize="isAuthenticated()">
        <div class="row">
            <div class="col-md-2">
                <a th:href="@{'/commentPost/{id}'(id=${post.id})}" class="btn btn-primary btn-block" th:text="Comment">Comment</a>
            </div>
        </div>
    </div>
</div>

<div th:replace="/fragments/footer :: footer" />
</body>
</html>
